
html, body { 	
	width: 100%;
	height: 95%;
	margin: 0px;
	padding: 0px;
	background-color:#000088;
}





#theWholeGameDiv {
	width: 95%;
	height: 100%;
	padding: 0px;
	margin: 5px auto;
	border: #990000 5px solid;
	border-radius: 10px;
	background-color: #000088;
}


#thePartitionTable {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	
}

#theLeftPanel {
	width: 10%;
	border-radius: 10px;
	background-color: #000088;
}

#theMiddlePanel {
	width: 65%;
	background-color: #000088;
}

#theRightPanel {
	width: 25%;
	border-radius: 10px;
	background-color: #000088;
}










#theLeftScoreTable {
	height: 95%;
	width:85%;

	border: solid 2px #666666;
	margin: auto auto;
	border-radius: 10px;
}

.aScoreBoxClass {
	height: 9%;
	background-image: url(../library/pieces/marks_y.png);
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: center;
	background-color: #00ee00;
}

#theScoreTitleBox{
	height: 5%;
	font-weight: bold;
	text-align: center;
	font-size: 75%;
	color: #666666;
}









#theMiddleGameTable {
	height: 100%;
	width:100%;
	margin: 0px;
	border: 0px;

}

#theMiddleTop {
	height: 10%;
	width: 100%;
	background-color: #cccccc;
	border-radius: 10px;
	text-align: center;
	color: #000000;
	font-size:150%;
	font-weight: bold;
}

#theMiddleMiddle {
	height: 75%;
	width: 100%;
	background-color: #ffffff;	
	border-radius: 10px;
	text-align: center;
	color: #000000;
	vertical-align: middle;
}


#theMiddleFeedback {
	height: 10%;
	width: 100%;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
	background-color: #dddddd;
	border-radius: 10px;
}


#theMiddleBottom {
	height: 5%;
	width: 100%;	
	background-color: #333333;	
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	border: white 1px solid;
}






#theRightResponseTable {
	height: 100%;
	width:100%;
	margin: 0px;
	border: 0px;

}


#theRightTopTitle {
	height: 2%;
	width: 100%;	
	background-color: #000000;
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	font-size:50%;
	text-align: right;
}

#theRightTop {
	height: 20%;
	width: 100%;
	padding: 3px;
	vertical-align: top;
	text-align: center;
	background-color: #dddddd;
	border-radius: 10px;
}


#theRightMiddleTitle {
	height: 2%;
	width: 100%;	
	vertical-align: middle;
	background-color: #000000;
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	font-size:50%;
	text-align: right;
}


#theRightMiddle {
	height: 74%;
	width: 100%;
	background-color: #999999;	
	border-radius: 10px;
	vertical-align: middle;
}

#theRightBottom {
	height: 2%;
	width: 100%;	
	background-color: #000000;
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	font-size:50%;
	text-align: right;
}






#theMiddleDataTable {
	width: 75%;	
	vertical-align: middle;
	margin: auto;
	
}




.MDTPopClass {

	color: #000088;
	background-color: #aaaaaa;
	font-weight: bold;
	font-size: 120%;
	text-align: left;

}



.MDTSampleClass {

	color: #000088;
	background-color: #aaaaaa;
	font-weight: bold;
	font-size: 120%;
	text-align: left;

}



.MDTPopDataClass {

	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 1em;
}



.MDTPopSampleClass {

	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 1em;
}











#theRResponseTable {
	width: 95%;	
	height: 95%;
	vertical-align: middle;
	margin: auto;
	border-spacing: 2px 1em;
}


.RInputClass {
	height: 20%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #A9D0F5;
	font-weight: bold;
	font-size: 120%;
	border: #000099 solid 2px;
}



.RSubmitClass {
	height: 20%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #A9D0F5;
	font-weight: bold;
	font-size: 120%;
	border: #000099 solid 2px;
}



.RTrueClass {
	height: 20%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #A9D0F5;
	font-weight: bold;
	font-size: 120%;
	border: #000099 solid 2px;
}



.RFalseClass {
	height: 20%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #A9D0F5;
	font-weight: bold;
	font-size: 120%;
	border: #000099 solid 2px;
}



.RNextClass {
	height: 20%;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #D8D8D8;
	font-weight: bold;
	font-size: 120%;
	border: #000099 solid 2px;
}




#theAnsBox {
	text-align: center;
	font-size: 100%;
	height: 50%;
	width: 50%;
	margin: auto auto;
}

.theDisplayClass {
	font-size:200%;
}


.beginText {
	font-weight: bold;
	background-color: #000000;
	color: #ffffff;
	border-radius: 10px;
	padding: 0.5em;
}

















.jxgbox {
    /* for IE 7 */
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #356AA0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-touch-action: none;
}

.JXGtext {
    /* May produce artefacts in IE. Solution: setting a color explicitly. */
    background-color: transparent;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    padding: 0;
    margin: 0;
}

.JXGinfobox {
    border-style: none;
    border-width: 1px;
    border-color: black;
}

/* CSS attributes will (permantely) overwrite attributes set in JSXGraph */
.JXGimage {
    /* opacity: 1.0; */
}

.JXGimageHighlight {
    /* opacity: 0.6; */
}

.myEndpointFont {
	font-weight: bold;
	color:"#ff0000";
}






